/VCSBasics/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/VCSBasics/obj/Debug/net6.0/VCSBasics.AssemblyInfo.cs
/VCSBasics/obj/Debug/net6.0/VCSBasics.AssemblyInfoInputs.cache
/VCSBasics/obj/Debug/net6.0/VCSBasics.assets.cache
/VCSBasics/obj/Debug/net6.0/VCSBasics.csproj.AssemblyReference.cache
/VCSBasics/obj/Debug/net6.0/VCSBasics.GeneratedMSBuildEditorConfig.editorconfig
/VCSBasics/obj/project.assets.json
/VCSBasics/obj/project.nuget.cache
/VCSBasics/obj/project.packagespec.json
/VCSBasics/obj/rider.project.restore.info
/VCSBasics/obj/VCSBasics.csproj.nuget.dgspec.json
/VCSBasics/obj/VCSBasics.csproj.nuget.g.props
/VCSBasics/obj/VCSBasics.csproj.nuget.g.targets
